.scroller {
  width: 270px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* border: 2px solid black; */
}

.scroller-word {
  font-size: 2.9rem;
  font-weight: 600;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  will-change: transform, opacity;
}

.scroller-word.animating {
  transform: translateY(-20px); 
  opacity: 0;             
}
